{% extends "../base.twig" %}
{% block title %}
<title>Gamerstale - Inscription</title>
{% endblock %}
	{% block header %}
	{% include "../layouts/_nav.twig" %}
{% endblock %}



{% block main %}
	<h2>Inscription</h2>
		<form action="/inscription" method="POST" enctype="multipart/form-data">
			<label for="firstname">Prénom</label>
			<input type="text" id="firstName" name="firstname">
			<label for="name">Nom</label>
			<input type="text" id="name" name="name">
			<label for="surname">Pseudo</label>
			<input type="text" id="surname" name="surname">
			<label for="mail">Adresse Mail</label>
			<input type="mail" id="mail" name="mail">
			<label for="password">Mot de Passe</label>
			<input type="text" id="password" name="password"
			<label for="img">Photo de Profil</label>
			<input type="file" name="img">
			<button type="submit">Valider</button>
		</form>
{% endblock %}
