
{% extends "../base.twig" %}
{% block title %}
	<title>Gamerstale - Connexion</title>
{% endblock %}

{% block header %}
	{% include "../layouts/_nav.twig" %}
{% endblock %}


{% block main %}
	<p>Bonjour {{user.surname}}</p>
{% endblock %}